.product-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .image-section {
    flex: 1;
  }
  
  .main-image-container {
    position: relative;
  }
  
  .main-image {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    display: none;
  }
  
  .main-image-container:hover .arrow {
    display: block;
  }

  .main-image-container {
    position: relative;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
    
  }
  
  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    
  }
  
  .fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
    border: solid 5px orange;
  }
  
  .thumbnail-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }
  
  .thumbnail {
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid orange;
  }
  
  .thumbnail:hover,
  .thumbnail:active {
    border-color: black;
    
  }
  
  .details-section {
    flex: 1;
    padding: 0 30px;
    color: black;
  }
  
  .company-name {
    text-transform: uppercase;
    font-size: 14px;
    color: orange
  }
  
  .product-title {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0;
    color: black;
  }
  
  .product-description {
    margin: 20px 0;
    font-size: 16px;
    color: black;
  }
  
  .price-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: black;
  }
  
  .current-price {
    font-size: 28px;
    font-weight: 700;
    margin-right: 15px;
    color: black;
  }
  
  .discount-badge {
    background-color: #f7b232;
    color: orangered;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 15px;
    font-weight: bolder;
  }
  
  .original-price {
    font-size: 16px;
    color: black;
    text-decoration: line-through;
  }
  
  .cart {
    display: flex;
    
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    background-color: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 20px;
    color: black
  }
  
  .quantity-btn {
    background: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .quantity-display {
    margin: 0 15px;
    font-size: 16px;
    color: black;
  }
  
  .add {
    background-color: orange;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .add-to-cart-btn .cart-icon {
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .product-page {
      flex-direction: column;
    }
  
    .main-image {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .thumbnail-container {
      justify-content: space-between;
    }
  
    .details-section {
      padding: 0;
    
    }
  
    .product-title {
      font-size: 22px;
      font-weight: bolder;
    }
  
    .current-price {
      font-size: 20px;
    }
  
    .add-cart {
      width: 50px;
      height: 50px;
      display: flex;
    }
  }
  
